.warning{

    font-size: 12px;
    color: red;
}
 
.vertical-radio-buttons div {
    display: block;
    padding: 0 0 5px 5px;
    clear: both;
  }

  .tasksPage {
      border: solid rgb(80, 80, 80) 1px;
 
    width: 80%;
    margin-left: 10%;
    background-color: rgb(202, 195, 195);
  }