form {
    border-left: solid black;
    border-right: solid black;
     width: 80%;
    margin-left: 10%;
    background-color: rgb(202, 195, 195);

}

#buttons{

    margin-left: 10%; 
}
 
html {

    box-shadow: 0 15px 5px 0    rgba(44,82,100,.75);

}