.warning{

    font-size: 12px;
    color: red;
}

form {
     
    border: black solid 2px ;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(156, 152, 152);
    border-radius: 4px;

}
input{
    background-color: rgb(190, 188, 188);
}

label   {
    color: white;
        text-shadow: 2px 2px 4px #000000;   
    }