<form #add="ngForm" (ngSubmit)="userSubmit(add.valid)">

  Full Name : <input type="text" name="user" minlength="3"  [(ngModel)]="UserName" #user="ngModel" ><br/>
  <div *ngIf="user.invalid" class="warning">Name is required</div>

  Email     : <input type="email" name="email"  [(ngModel)]="userEmail" #email="ngModel" ><br/>
  City      : <input type="text" name="city" required minlength="2" [(ngModel)]="userCity" #city="ngModel"><br/>

   
  <input type="submit" value="Add User">
  <input type="button" #return  (click)="nevigate()" value="Previous Page">
  </form>  
 
