
<form #userData="ngForm" (ngSubmit)="updateUser(userData.valid)">
<label>Full name     : </label> 
<input type="text" required minlength="5" name="fullName" #fullName="ngModel" [(ngModel)] = "singleUser.UserObjName"> <br>
<div *ngIf="fullName.errors"> 
        <div *ngIf="fullName.errors.required" class="warning"> 
              Name required.
        </div>			   
        <div *ngIf="fullName.errors.minlength" class="warning"> 
              Name is too short
         </div>	
     </div> 
<label> Email address : </label>
 <input type="text" required name="email" #email="ngModel" [(ngModel)] = "singleUser.UserObjEmail"  [pattern]="emailPattern"> <br>
<div *ngIf="email.errors"> 
        <div *ngIf="email.errors.required" class="warning"> 
              Email required.
        </div>			   
        <div *ngIf="email.errors.pattern" class="warning"> 
              Email not valid.
        </div>	
  </div> 
<label> City          : </label> 
<input type="text" required minlength="2" name="city" #city="ngModel" [(ngModel)] = "singleUser.UserObjCity"> <br>
<div *ngIf="city.errors"> 
        <div *ngIf="city.errors.required" class="warning"> 
              City required.
        </div>			   
        <div *ngIf="city.errors.minlength" class="warning"> 
              City name is too short.
        </div>	
     </div> 
<div class="buttons">
    <input type="submit" #update value="Update User" [disabled]="userData.pristine || userData.invalid ">
    <input type="button" #matButton name="mat-button"  value="Delete User" (click)="openDialog()"> 
   <!-- <button mat-button (click)="openDialog()">Delete User</button>-->
    <input type="button" #return (click)="prev()" value="Previous Page">

    <div class="warning" [hidden]="usereDeleted">Failed to delete user</div>
    <div class="warning" [hidden]="userUpdated">Failed to update user</div>
</div>


<table border="1" class="run-animation" *ngIf="DataExists">
    <tr> <th>Posts: </th> <th>  Tasks:</th></tr>
    <td>
          <ul *ngFor="let currPost of postsArr">
            <li>{{currPost.postObjTitle}}</li> 
          </ul>
    </td>
    <td>
          <ul *ngFor="let currTask of tasksArr">
              <li>{{currTask.taskObjTitle}}</li> 
           </ul>
    </td>   
</table>

 </form>

 